/* Allgemeine Stile für die Boxen */
.content-box1 {
    background-color: #F2F2F2; /* Hintergrundfarbe */
    border: 3px solid #74B027; /* Rahmenfarbe und -stärke */
    border-radius: 5px; /* Abrundung der Ecken */
    padding: 15px; /* Innenabstand */
    margin-top: 15px; /* Abstand nach oben */
    margin-bottom: 15px; /* Abstand nach unten */
    height: 225px; /* Festlegen einer festen Höhe für die Boxen */
}
.content-box2 {
    background-color: #F2F2F2; /* Hintergrundfarbe */
    border: 3px solid #74B027; /* Rahmenfarbe und -stärke */
    border-radius: 5px; /* Abrundung der Ecken */
    padding: 15px; /* Innenabstand */
    margin-top: 15px; /* Abstand nach oben */
    margin-bottom: 15px; /* Abstand nach unten */
    height: 145px; /* Festlegen einer festen Höhe für die Boxen */
}

/* Stil für die Seitenüberschrift */
h1 {
    margin-top: 20px; /* Abstand nach oben */
}

/* Stil für die Hauptüberschriften */
h2 {
    color: #333; /* Textfarbe */
    font-size: 1.5rem; /* Schriftgröße */
    margin-bottom: 10px; /* Abstand nach unten */
}

/* Stil für die Textabschnitte */
p {
    color: #555; /* Textfarbe */
    font-size: 1rem; /* Schriftgröße */
}

/* Medienabfrage für eine bessere Lesbarkeit auf kleinen Bildschirmen */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem; /* Größere Schriftgröße für kleinere Bildschirme */
    }
    h2 {
        font-size: 1.2rem; /* Kleinere Schriftgröße für Hauptüberschriften */
    }
}
